*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: #3d3d3d;
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}
.logo-photo{
    margin-top: 15px;
    width: 80px;
    height: 25px;
    padding: 15px;
    align-items: center;
}
.logo{
   width: 100px;
   height: 80px;
}
.menus{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding:5px;
    font-size: 20px;
}
.items{
 font-size: 20px;
 padding: 5px;
 margin-right: 10px;
 margin-left: 10px;
 cursor: pointer;
}
.items:hover{
    color:#7da38f;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(images/background.png),linear-gradient(45deg,#0a0909,#333333);
    height: 100vh;
    color: white;
    background-position:center ;
    background-size:cover ;

}
.img{
    width: 350px;
    height: 280px;
}
.title{
    font-size: 43px;
    padding: 15px 10px;
}
.description{
    font-size: 20px;
    margin:15px 10px;
}
.btn{
    margin: 10px 10px;
    background-color: red;
    color: white;
    padding: 12px;
    border-radius: 5px;

}
.about-title{
    text-align: center;
    font-size: 43px;
    margin: 20px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;

}
.photo{
    width: 350px;
    height: 280px;
}
.about-description{
    
}