*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: #3d3d3d;
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}
.logo-photo{
    margin-top: 15px;
    width: 80px;
    height: 25px;
    padding: 15px;
    align-items: center;
}
.logo{
   width: 100px;
   height: 80px;
}
.menus{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding:5px;
    font-size: 20px;
}
.items{
 font-size: 20px;
 padding: 5px;
 margin-right: 10px;
 margin-left: 10px;
 cursor: pointer;
}
.items:hover{
    color:#7da38f;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(images/background.png),linear-gradient(45deg,#0a0909,#333333);
    height: 100vh;
    color: white;
    background-position:center ;
    background-size:cover ;

}
.img{
    width: 350px;
    height: 280px;
}
.title{
    font-size: 43px;
    padding: 15px 10px;
}
.description{
    font-size: 20px;
    margin:15px 10px;
}
.btn{
    margin: 10px 10px;
    background-color: red;
    color: white;
    padding: 12px;
    border-radius: 5px;

}
.about-title{
    text-align: center;
    font-size: 43px;
    margin: 40px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
  flex-direction: row-reverse;
  height: 350px;
  padding-bottom: 50px;
}
.photo{
    width: 350px;
    height: 280px;
}
.about-description{
    margin: 15px 10px;
}
.btn2{
    margin-top: 10px;
    background-color: red;
    color: white;
    padding: 12px;
    border-radius: 5px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    background-image: url(images/background.png),linear-gradient(45deg,#0a0909,#333333);
    color: white;
    height: 500px;
    align-items: center;
}
.icon{
    width: 70px;
    padding-left: 76px;
    margin-bottom: 10px;
    
}
.title3{
    text-align: center;
    padding-top: 20px;
    background-image: url(images/background.png),linear-gradient(45deg,#0a0909,#333333);
    color: white;
    height: 70px;
    font-size: 35px;
}
.box{
    box-shadow: 4px 4px 15px gray;
    width: 220px;
    height: 350px;
    text-align: justify;
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
}
.btn3{
    align-items: center;
    margin-left: 85px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    
}
.btn3:hover{
    color: red;
}


